In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

FIND-S algorithm for finding the most specific hypothesis

In [ ]:
df = pd.read_excel("/content/enjoyspot_dataset.xlsx")

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [ ]:
df.columns = df.iloc[0]

In [ ]:
print(df)

0  SL NO.    Sky  AirTemp  Humidity    Wind  Water  Forecast  EnjoySpot
0  SL NO.    Sky  AirTemp  Humidity    Wind  Water  Forecast  EnjoySpot
1       1  Sunny     Warm    Normal  Strong   Warm      Same        Yes
2       2  Sunny     Warm      High  Strong   Warm      Same        Yes
3       3  Rainy     Cold      High  Strong   Warm    Change         No
4       4  Sunny     Warm      High  Strong   Cool    Change        Yes

In [ ]:
df=df.drop(0)

In [ ]:
df.columns

Index(['SL NO.', 'Sky', 'AirTemp', 'Humidity', 'Wind', 'Water', 'Forecast',
       'EnjoySpot'],
      dtype='object', name=0)

In [ ]:
df = df.drop(["SL NO."],axis=True)

In [ ]:
df

0    Sky AirTemp Humidity    Wind Water Forecast EnjoySpot
1  Sunny    Warm   Normal  Strong  Warm     Same       Yes
2  Sunny    Warm     High  Strong  Warm     Same       Yes
3  Rainy    Cold     High  Strong  Warm   Change        No
4  Sunny    Warm     High  Strong  Cool   Change       Yes

In [ ]:
test = df.iloc[:,-1:]

In [ ]:
print(test)

0 EnjoySpot
1       Yes
2       Yes
3        No
4       Yes

In [ ]:
train = df.iloc[:,:6]

In [ ]:
print(train)

0    Sky AirTemp Humidity    Wind Water Forecast
1  Sunny    Warm   Normal  Strong  Warm     Same
2  Sunny    Warm     High  Strong  Warm     Same
3  Rainy    Cold     High  Strong  Warm   Change
4  Sunny    Warm     High  Strong  Cool   Change

In [ ]:
test = np.array(test)

In [ ]:
print(test)

[['Yes']
 ['Yes']
 ['No']
 ['Yes']]

In [ ]:
i=1
for i in range(len(train)):
   if(test[i] == "Yes"):
     specfic_hypothesis = train.iloc[i]
     break

In [ ]:
print(specfic_hypothesis)

0
Sky          Sunny
AirTemp       Warm
Humidity    Normal
Wind        Strong
Water         Warm
Forecast      Same
Name: 1, dtype: object

In [ ]:
i = 1
for i in range(len(train)):
  if(test[i] == "Yes"):
    for j in range(len(specfic_hypothesis)):
      if(train.iloc[i].iloc[j] != specfic_hypothesis.iloc[j]):
        specfic_hypothesis[j]='?'


print(specfic_hypothesis)

0
Sky          Sunny
AirTemp       Warm
Humidity         ?
Wind        Strong
Water            ?
Forecast         ?
Name: 1, dtype: object

In [ ]:
print("Resulted Hypothesis:")
print(np.array(specfic_hypothesis))

Resulted Hypothesis:
['Sunny' 'Warm' '?' 'Strong' '?' '?']

Other Example BUY OR NOT DATASET

In [ ]:
df = pd.read_excel("/content/BUY.xlsx")

In [ ]:
print(df.columns)

Index(['Example', 'Citations', 'Size', 'inLibrary', 'price', 'editions',
       'buy'],
      dtype='object')

In [ ]:
print(df)

   Example Citations    Size inLibrary       price editions  buy
0        1      some   small        no  affordable     many  no
1        2      many     big        no   expensive      one  yes
2        3      some     big    always   expensive      few  no
3        4      many  medium        no   expensive     many  yes
4        5      many   small        no  affordable     many  yes

In [ ]:
df = df.drop(["Example"],axis=True)

In [ ]:
df

  Citations    Size inLibrary       price editions  buy
0      some   small        no  affordable     many  no
1      many     big        no   expensive      one  yes
2      some     big    always   expensive      few  no
3      many  medium        no   expensive     many  yes
4      many   small        no  affordable     many  yes

In [ ]:
test = df.iloc[:,-1:]

In [ ]:
print(test)

   buy
0  no
1  yes
2  no
3  yes
4  yes

In [ ]:
train = df.iloc[:,:5]

In [ ]:
print(train)

  Citations    Size inLibrary       price editions
0      some   small        no  affordable     many
1      many     big        no   expensive      one
2      some     big    always   expensive      few
3      many  medium        no   expensive     many
4      many   small        no  affordable     many

In [ ]:
test = np.array(test)

In [ ]:
print(test)

[['no ']
 ['yes']
 ['no ']
 ['yes']
 ['yes']]

In [ ]:
i=1
for i in range(len(train)):
   if(test[i] == "yes"):
     specfic_hypothesis = train.iloc[i]
     break

In [ ]:
print(specfic_hypothesis)

Citations         many
Size               big
inLibrary           no
price        expensive
editions           one
Name: 1, dtype: object

In [ ]:
i = 1
for i in range(len(train)):
  if(test[i] == "yes"):
    for j in range(len(specfic_hypothesis)):
      if(train.iloc[i].iloc[j] != specfic_hypothesis.iloc[j]):
        specfic_hypothesis[j]='?'


print(specfic_hypothesis)

Citations    many
Size            ?
inLibrary      no
price           ?
editions        ?
Name: 1, dtype: object

In [ ]:
print("Resulted Hypothesis:")
print(np.array(specfic_hypothesis))

Resulted Hypothesis:
['many' '?' 'no' '?' '?']